main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}

.conteudo {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.conteudo h1 {
  color: var(--purple);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.conteudo .timer {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 20px;
}

.conteudo .timer-content {
  display: grid;
  justify-items: center;
}

.conteudo .timer-content .timer-titulo {
  color: var(--light-grey);
}

.conteudo .timer-content .numero {
  font-size: 5rem;
  color: var(--black);
}

.conteudo .btn-span {
  display: block;
  color: var(--text-color);
}

.conteudo .btn {
  display: block;
  color: white;
  background-color: var(--purple);
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
  margin-top: 20px;
}
.conteudo .btn:hover {
  background-color: #6c63bb;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
  }
  .img {
    display: none;
  }
}

@media (max-width: 750px) {
  .conteudo h1 {
    font-size: 1.4rem;
  }
  .conteudo .timer-content .numero {
    font-size: 2.6rem;
  }
  .conteudo .timer-content .timer-titulo {
    font-size: 1rem;
  }
  .conteudo .btn-span {
    font-size: 0.8rem;
  }
  .conteudo .btn {
    margin-top: 10px;
  }
  main {
    margin: 6rem 1rem;
  }
}
